*{
    margin: 0;
    padding: 0;
}
main {
    padding-left: 100px;
    padding-right: 100px;
}
.container  {
    width: 100%;
    /* padding-left: 50px; */
     
}
.navbar-nav {
    display:inline-flex;
    
    
    
}
.col-12 {
    background-color: rgb(220, 223, 224);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;

}
.mb-3 {
    margin-top: 1rem;
}
.pt-3 {
    padding-left: 1rem;
}

.card {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: none;
    margin-right: none;
 }
  
.text3 {
    background-color: rgb(182, 175, 175);
    color: grey ;
    padding: 50px;
    
}
.footer {
    height: 50px;
    background-color: rgb(49, 47, 47);
    color: white;
    text-align: center;
   padding-top: 20px;
   padding-bottom: 30px;
}